.Rproj.user
.Rhistory
.RData
.Ruserdata
*~

inst/doc

src/*.o
src/*.so
src/*.dll

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

src/Makevars
config.log
config.status

autom4te.cache/*