.Rproj.user
.Rhistory
.RData
.Ruserdata
*~

inst/doc

src/*.o
src/*.so
src/*.dll

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#
README.html
README_cache/*

src/Makevars
config.log
config.status

autom4te.cache/*
src/autom4te.cache/*
doc
Meta
